<div class="flex-row">
  <div class="flex-1">
    <form [formGroup]="editRequestForm" (ngSubmit)="submitForm();">
      <mat-card-header>
        <mat-card-title class = "new-request-title">
          Request submitted on: {{this.request.dateAdded}}
        </mat-card-title>
        <mat-card-subtitle *ngIf="request.incomeValid";else="higher">
          This person's household income is below the guidelines
        </mat-card-subtitle>
        <mat-card-subtitle #higher>
          This person's household income is above the guidelines
        </mat-card-subtitle>
      </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
          <input matInput placeholder="Name/Nombre" formControlName="clientName" required>
            <mat-error *ngIf="formControlHasError('clientName')" data-test="nameDescriptionError">
            {{getErrorMessage('clientName')}}
            </mat-error>
      </mat-form-field><br /><br />
    </mat-card-content>
    <div mat-list-item *ngFor="let item of this.request.selections"  class="volunteer-list-item edit-request">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="volunteer-list-name">{{item}}</mat-card-title>
        </mat-card-header>
        <mat-card-actions align="end">
          <button>
            Post
          </button>
          <mat-checkbox></mat-checkbox>
        </mat-card-actions>
      </mat-card>
      <br />
    </div>
    <br /><br />
    <div>
      <mat-form-field class = "desc" fxFill="true">
        <mat-label>Item description</mat-label>
        <textarea matInput formControlName="description"
        required>
        </textarea>
        <mat-error *ngIf="formControlHasError('description')" data-test="descriptionError">
          {{getErrorMessage('description')}}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
    <mat-card-actions align="end">
      <button
        mat-button
        class = "submit_button"
        type="button"
        color="dark-primary"
        type="submit"
        data-test="confirmNewRequestButton"
      >
        SUBMIT REQUEST
      </button>
    </mat-card-actions>
  </div>
</form>
</div>
</div>
