<div *ngIf="this.request" class="flex-row">
  <div class="flex-1">
    <form [formGroup]="editRequestForm" (ngSubmit)="submitForm();">
      <div class="formRow">
        <mat-card-content>
          <div style="display: inline-block;">
            <mat-form-field>
              <div class="mat-mdc-text-field-wrapper">
                <input class="name mat-mdc-form-field-input-control" matInput placeholder="Name" formControlName="clientName" required>
                  <mat-error *ngIf="formControlHasError('clientName')" data-test="nameDescriptionError">
                  {{getErrorMessage('clientName')}}
                  </mat-error>
              </div>
            </mat-form-field>
          </div>
          <div style="display: inline-block;">
            <mat-card-title class = "new-request-title" *ngIf="this.request">
              {{this.requestService.getReadableDate(request.dateAdded)}}
            </mat-card-title>
          </div>
        </mat-card-content>
      </div>
      <mat-card-header>
        <mat-card-subtitle *ngIf="this.request&&request.incomeValid";else="higher">
          This person's household income is below the guidelines
        </mat-card-subtitle>
        <mat-card-subtitle #higher>
          This person's household income is above the guidelines
        </mat-card-subtitle>
      </mat-card-header>
    <div mat-list-item *ngFor="let item of this.request.selections"  class="volunteer-list-item edit-request">
      <mat-card class="example-card">
        <mat-card-actions align="end">
          <mat-card-title [ngStyle]="{'color': 'green'}" class="itemName" *ngIf="request.diaperSize && this.request.fulfilled.includes(item)">{{this.requestService.getReadableItem(item, request.diaperSize)}}</mat-card-title>
          <mat-card-title [ngStyle]="{'color': 'green'}" class="itemName" *ngIf="!request.diaperSize && this.request.fulfilled.includes(item)">{{this.requestService.getReadableItem(item)}}</mat-card-title>
          <mat-card-title [ngStyle]="{'color': 'red'}" class="itemName" *ngIf="request.diaperSize && !this.request.fulfilled.includes(item)">{{this.requestService.getReadableItem(item, request.diaperSize)}}</mat-card-title>
          <mat-card-title [ngStyle]="{'color': 'red'}" class="itemName" *ngIf="!request.diaperSize && !this.request.fulfilled.includes(item)">{{this.requestService.getReadableItem(item)}}</mat-card-title>
          <button *ngIf="!this.request.archived" mat-mini-fab matTooltip="Post" color="primary" data-test="postRequestButton" (click)="postRequest(item)">
            <mat-icon>send</mat-icon>
          </button>
          <mat-checkbox *ngIf="this.request.fulfilled.includes(item)" checked="true" (change)="updateFulfilled(item)"></mat-checkbox>
          <mat-checkbox *ngIf="!this.request.fulfilled.includes(item)" checked="false" (change)="updateFulfilled(item)"></mat-checkbox>
        </mat-card-actions>
      </mat-card>
      <br />
    </div>
    <br />
    <div>
      <mat-form-field class = "mat-mdc-text-field-wrapper">
        <mat-label>Item description</mat-label>
        <textarea class="mat-mdc-form-field-infix" matInput formControlName="description"
        required>
        </textarea>
        <mat-error *ngIf="formControlHasError('description')" data-test="descriptionError">
          {{getErrorMessage('description')}}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
    <mat-card-actions align="end">
      <button
        mat-button
        class = "submit_button"
        type="button"
        color="dark-primary"
        type="submit"
        data-test="submitRevisionButton"
      >
        SUBMIT REVISION
      </button>
    </mat-card-actions>
  </div>
</form>
</div>
</div>
