<div class="flex-row">
  <div class="flex-1">
    <form [formGroup]="editRequestForm" (ngSubmit)="submitForm();">
      <div class="formRow">
        <mat-card-content>
          <div style="display:inline-block">
            <mat-form-field>
              <div class="mat-mdc-text-field-wrapper">
                <input class="name mat-mdc-form-field-input-control" matInput placeholder="Name" formControlName="clientName" required>
                  <mat-error *ngIf="formControlHasError('clientName')" data-test="nameDescriptionError">
                  {{getErrorMessage('clientName')}}
                  </mat-error>
              </div>
            </mat-form-field>
          </div>
          <div style="display: inline-block;">
            <mat-card-title class = "new-request-title">
              {{this.requestService.getReadableDate(request.dateAdded)}}
            </mat-card-title>
          </div>
        </mat-card-content>
      </div>
      <mat-card-header>
        <mat-card-subtitle *ngIf="request.incomeValid";else="higher">
          This person's household income is below the guidelines
        </mat-card-subtitle>
        <mat-card-subtitle #higher>
          This person's household income is above the guidelines
        </mat-card-subtitle>
      </mat-card-header>
    <div mat-list-item *ngFor="let item of this.request.selections"  class="volunteer-list-item edit-request">
      <mat-card class="example-card">
        <mat-card-actions align="end">
          <mat-card-title class="itemName" *ngIf="request.diaperSize">{{this.requestService.getReadableItem(item, request.diaperSize)}}</mat-card-title>
          <mat-card-title class="itemName" *ngIf="!request.diaperSize">{{this.requestService.getReadableItem(item)}}</mat-card-title>
          <button>
            Post
          </button>
          <mat-checkbox></mat-checkbox>
        </mat-card-actions>
      </mat-card>
      <br />
    </div>
    <br />
    <div>
      <mat-form-field class = "mat-mdc-text-field-wrapper">
        <mat-label>Item description</mat-label>
        <textarea class="mat-mdc-form-field-infix" matInput formControlName="description"
        required>
        </textarea>
        <mat-error *ngIf="formControlHasError('description')" data-test="descriptionError">
          {{getErrorMessage('description')}}
        </mat-error>
      </mat-form-field>
    </div>
    <div>
    <mat-card-actions align="end">
      <button
        mat-button
        class = "submit_button"
        type="button"
        color="dark-primary"
        type="submit"
        data-test="confirmNewRequestButton"
      >
        SUBMIT REVISION
      </button>
    </mat-card-actions>
  </div>
</form>
</div>
</div>
