.volunteer-list-item {
  margin: 5px;
}

.income-warning{
  margin-left: 8px;
  color: red;
}

.priority-container {
  display: inline-flex;
  align-items: center;
  margin-left: 8px;
}

.priority-field {
  width: 110px;
}

.priority-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemName{
  margin-right: auto;
}

.pledgeButton{
  margin-right: 6px;
}

.deleteButton{
  margin-right: 6px;
}

.archiveFilterButtons{
  margin-left: auto;
  margin-right: 18px;
}

.viewPledgesButton{
  margin-left: 17%;
}
