<div class="flex-row">
  <div class="flex-1">
    <!--Filters-->
    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="donor-view-title">Items requested by the food shelf</mat-card-title>
      </mat-card-header>
    <mat-card-content>
      <!--Item Type Filter-->
      <div class="flex-row gap-8 flex-wrap">
      <mat-form-field class="input-field" id="nameID">
        <mat-label>Item Name</mat-label>
        <input matInput data-test="requestItemInput" placeholder="Filter by item name"
        [(ngModel)]="itemName" (input)="getRequestsFromServer()">
      </mat-form-field>
    </div>
    </mat-card-content>
    </mat-card>
  </div>
</div>

<section>




<!--List View-->
<div class="flex-row">
  <div class="flex-1" *ngIf="serverFilteredItems; else requestsError">
    <mat-card-content>
      <mat-nav-list class="donor-nav-list">
        <div mat-list-item *ngFor="let item of this.serverFilteredItems"  class="donor-list-item">
          <mat-card class="example-card">
            <ng-container *ngIf="item.amount > 0">
              <mat-card-actions [matBadge]="item.amount" matBadgePosition="above after">
                <mat-card-title class="itemName">{{this.requestService.getReadableItem(item.name)}}</mat-card-title>
                <button mat-mini-fab class="pledgeButton" matTooltip="Pledge" color="accent" data-test="pledgeRequestButton" [routerLink]="['/requests/donor', item._id]">
                  <mat-icon>favorite</mat-icon>
                </button>
                <button mat-mini-fab class="deleteButton" *ngIf="this.authHypothesis" matTooltip="Delete" color="primary" data-test="deleteRequestButton" (click)="deleteRequest(item)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-card-actions>
          </ng-container>
          </mat-card>
        </div>
      </mat-nav-list>
    </mat-card-content>
  </div>

  <ng-template #requestsError>
    <div class="flex-1" class="requests-error">
      <mat-error>
        There was a problem loading the requests. The server may be down or there are
        network issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again or start the server.
      </mat-error>
    </div>
  </ng-template>
</div>

