<div class="flex-row">
  <div class="flex-1">
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title>
          PocketShelf: brought to you by the SC food shelf in collaboration with UMM!
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <img src = "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi2-prod.mirror.co.uk%2Fincoming%2Farticle10107314.ece%2FALTERNATES%2Fs615%2FBoy-eating-spaghetti.jpg&f=1&nofb=1&ipt=0676d26e9a0b1e3c11ab33a38272846ba5f50dafa3a90420087788298940d890&ipo=images">
  </div>
</div>
