<mat-toolbar color="primary" role="navigation">
  <div class="flex-row gap-24">
  <span class="app-title">PocketShelf 3.0</span>
  <button mat-button class="clients-button"  matTooltipPosition="right" routerLink="/" data-test="backtoHomepageButton" fxFlexOffset="150">
    <mat-label class="button-text">Home</mat-label>
    <mat-icon class="button-icon" aria-label="Home page">home</mat-icon>
  </button>
  <button mat-button class="clients-button"  matTooltipPosition="right" routerLink="/requests/donor" data-test="backtoDonorpageButton">
    <mat-label class="button-text">Donors / Donantes</mat-label>
    <mat-icon class="button-icon" aria-label="Donor page">favorite</mat-icon>
  </button>
  <button mat-button class="clients-button"  matTooltipPosition="right" routerLink="/requests/client" data-test="backtoClientpageButton">
    <mat-label class="button-text">Clients / Clientes</mat-label>
    <mat-icon class="button-icon" aria-label="Client page">shopping_basket</mat-icon>
  </button>
  <button mat-button class="clients-button"  matTooltipPosition="right" routerLink="/requests/volunteer" data-test="backtoVolunteerpageButton">
    <mat-label class="button-text">Volunteers / Voluntarios</mat-label>
    <mat-icon class="button-icon" aria-label="Volunteer Page">people</mat-icon>
  </button>
  </div>
</mat-toolbar>
<div class="main-content mat-typography">
  <router-outlet></router-outlet>
</div>
